
nav {
    margin: 0;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-color: lavender;
    height: 38px;
}

nav ul {
    list-style: none;
}

nav li {
    padding-right: 20px;
    display: inline;
}

nav a {
    align-items: center;
    text-decoration: none;
    color: #575555;
    font-size: 16px;
}

nav a:hover{
    color:lightcoral
}

.link-button {
    display: flex;
    float: left;
    margin-top: 10px;
}

.page-image {
    margin-top: 14px;
    position: absolute;
    right: calc(50vw - 50px); 
}

.github {
    fill:#575555;
    float: right;
    margin-top: 7px;
    padding-right: 15px;
}

.github:hover{
    fill:lightcoral;
}

.linkedin {
    fill:#575555;
    float: right;
    margin-top: 7px;
    margin-right: 20px;
}

.linkedin:hover {
    fill:lightcoral;
}
