/*Header Navigation*/

.container{
    width: 85%;
    margin: 0 auto;
}

.page-image{
    float: left;
}

.buttons{
    margin: 0;
}

header {
    background: greenyellow;
    
}

.header

html, body{
    margin: 0;
    padding: 0;
}