/*Header Navigation*/

.container{
    width: 95%;
    margin: 0;
}

header {
    background: rgb(255, 255, 255);   
}

header::after {
    content:'';
    display: table;
    clear: both;
}

.page-image {
    padding-right: 43%;
    padding-top: 15px;
    padding-bottom: 15px;
    float: right;
}


nav {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.buttons{
    padding-left: 2%;
    float: left;
    margin-left: 3%;
    padding-top: 12px;
}

nav li {
    display: inline;
    margin-left: 3%;
}

nav a{
    color: #696868;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover{
    color:lightcoral
}

html, body{
    margin: 0;
    padding: 0;
    background-color:#f5f5f5;
}

/*Profile*/

.row {
    display: flex;
    padding-top: 100px;
}
  
.column {

    padding: 20px;
    flex: 50%;
    text-align: center;
}

.bio {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

#profile-image {
    padding: 20px;
    height: auto;
    width: 100%;
}
